[submodule "typec-board-base"]
	path = typec-board-base
	url = https://github.com/RoboMaster-Club/typec-board-base.git
[submodule "CMSIS-DSP"]
	path = CMSIS-DSP
	url = https://github.com/ARM-software/CMSIS-DSP.git
